<%- include("partials/header.ejs") %>

<div class="content">
    <div class="content-header">
        <h1>My Posts</h1>
    </div>
    <div class="post-list">
        <% if(locals.posts){ %>
            <% locals.posts.forEach(function(post){ %>
                <div class="post-card">
                    <h3><%= post["title"]  %></h3>
                    <p><%= post["content"]%></p>
                    <input type="text" class="hidden" style="display: none;" id="<%= post["postid"] %>">
                    <div class="actions">
                        <button class="btn-edit" data-id="<%= post["postid"] %>">Edit</button>
                        <button class="btn-delete" data-id="<%= post["postid"] %>">Delete</button>
                    </div>
                </div>

            <% }) %>
        <%  } else { %>
            <h3>No posts to show</h3>
        <%  } %>

    </div>
</div>
<script>
    document.querySelectorAll(".btn-delete").forEach((button) => {
    button.addEventListener("click", async function (){
        const postId = this.dataset.id;
        console.log(postId);
        const response = await fetch(`/delete/?id=${postId}`,{ method : "DELETE"});
        if(response.ok){
            this.closest(".post-card").remove();
        }
        else{
            console.log(response);
        }
        // window.location.href = `/delete/?id=${postId}`;
        });
    });
    document.querySelectorAll(".btn-edit").forEach((button)=>{
        button.addEventListener("click",async function(){
            const postId = this.dataset.id;
            const inputElement = document.querySelector(`#post${postId} input`);
            // console.log(inputElement);
            console.log(inputElement.value);

        })
    })

</script>
<%- include("partials/footer.ejs") %>