<%- include("partials/header.ejs") %>

<div class="content">
    <div class="content-header">
        <h1>My Posts</h1>
    </div>
    <div class="post-list">
        <% if(locals.posts){ %>
            <% posts.forEach(function(post){ %>
                <div class="post-card">
                    <h3><%= post["title"]  %></h3>
                    <p><%= post["content"]%></p>
                    <div class="actions">
                        <button class="btn-edit">Edit</button>
                        <button class="btn-delete" data-id="<%= post.post_id %>">Delete</button>
                    </div>
                </div>

            <% }) %>
        <%  } else { %>
            <h3>No posts to show</h3>
        <%  } %>

    </div>
</div>
<script>
    document.querySelectorAll(".btn-delete").forEach(button => {
    button.addEventListener("click", function() {
        const postId = this.dataset.id;
        console.log(postId);
        window.location.href = `/delete/?id=${postId}`;
    });
});
</script>
<%- include("partials/footer.ejs") %>